page-home {
	.search-bar {
		margin-bottom: 24px;
	}

	.search-button {
		background-color: transparent;
		font-size: 17px;
	}

	.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
		width: 120px;
		height: 90px;
	}
}
