.bold {
	font-weight: bold;
}

.scroll-content{
    overflow-y:auto;
}

.header-menu {
	height: 150px;
	padding: 10px;
}

.round-img {
	border-radius: 50%;
}

img {
	margin-left: 12px;
}

p {
	margin: 6px 12px;
	color: white;
}
