page-my-account {
    .imageInput {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .imageLabel {
        position: absolute;
        left: 95px;
        top: 30px;
    }
}
